service cloud.firestore {
  match /databases/{database}/documents {
    match /restaurants/{restaurant} {
      match /ratings/{rating} {
        allow read;
        allow write;
      }

      allow read;
      allow create;
      allow update;
    }
  }
}

// Muokkaa ylläoleviin oikeat datat omasta databasesta myöhemmin